.title {
    background-color: black;
    color: rgb(255, 255, 255);
    /* first border width, second border style and border color */
    border-bottom:2px solid rgb(132, 0, 255);
}

/* #tag_id (aplly style to id) */
#heading1 {
    background-color: black;
    color:	#008000; font-size: 50px;
}

/* #tag_id (aplly style to id) */
#heading2 {
    background-color: black;
    color: #993399;font-size: 50px;
}

a { 
    color: orangered; 
}

/* .tag_class (apply style to the class) */
.txt { 
    font-size: 30px; 
    color: blue;
}

/* tag another_tag (aplly style to the tag inside te first tag) */
ul li { 
    color: green;
    font-weight: bold;
}

ol li { 
    color: #993399;
    font-weight: bold;
}

/* #tag_id (aplly style to id) */
#music1 , .music {
    font-size: 30px;
    font-weight: bold;
    color: crimson;
    border: 2px dashed #000;
    border-radius: 5px; /* for rounded border */
}

.test {
    background-color: #000;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 4px solid darkred;
}

.itachi {
    border-radius: 50px;
}

/* tag, another tag (apply style to both tags) */